.custom-bg{
	background: linear-gradient(45deg,orange,black,wheat);
	
	
	
}

body{
	background-color:black;
}
.parent{
	display:flex;
	margin-left: 50px;
	margin-right: 50px;
	height: 400px;
	justify-content: space-evenly;
	align-content: center;
	border: 5px solid black;
}
.parent>div{
	margin: 50px auto;
	height:80%;
	width:25%;
	
	background-color: cadetblue;
}
.parent>div>img{
	height:150px;
	width: 150px;
	margin-left: 100px;

}
.parent>div>h1{
	margin-left: 50px;
}
.parent>div:hover{
	background-color:black;
	color: white;
	cursor: pointer;
}




